@import 'variables';
body {
  font-family: $base-font;
  background-color: $background-color !important;
  color: $text-color;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: $text-color;
}

.card-text {
  color: #565555;
}

h1 {
  color: $text-color !important;
}

.text-center {
  color: white;
}