.btn {
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary {
  @include button-styles($primary-color, darken($primary-color, 10%), $primary-color);
  border-radius: 8px;
}

.btn-danger {
  @include button-styles($danger-color, darken($danger-color, 10%), $danger-color);
  border-radius: 8px;
}

.btn-secondary {
  @include button-styles($secondary-color, darken($secondary-color, 10%), $secondary-color);
  border-radius: 8px;
}
